
div.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

#sidebar {
    box-sizing: border-box;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 3;
    background-color: #343A40;
    color: #fff;
    transition: all 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
padding: 5px 10px;
}

ul li {
    padding: 5px 20px;
}
li a {
    position: relative;
    display: block;
    width: 100%;
    color: white;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

a[aria-expanded="false"]::after {
    transform: rotate(0deg);
}
a[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

li:hover {
    background-color: rgb(102, 112, 122);
}

li a:hover {
    text-decoration: none;
    color: black;
}

li.active {
    background-color: rgb(102, 112, 122);
}

p.display-menu {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
     background-color: #343A40;
    z-index: 2;
}

p.notifications {
    margin: 0;
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
}

button.btn.dashboard {
    position: absolute;
    top: 50%;
    right: 30px;
    padding: 10px 0;
    width: 120px;
    transform: translateY(-50%);
    background-color: whitesmoke;
    outline: none;
    color: black;
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.52);
}
#displayConfigurationPage {
    right: 170px;
}

#displayConfigurationPage:active, #backToLogin:active, #dismiss:active {
    background-color: #343A40;
    border-color: #343A40;
    box-shadow: 0 0 0 0.2rem #343a4033;
}
#displayConfigurationPage:hover, #backToLogin:hover, #dismiss:hover {
    background-color: white;
}

#dismiss {
    padding: 3px 5px;
    top: 50%;
    left: 50%;
    width: 60px;
    transform: translate(150%, 50%);
    font-size: 14px;
}

#main-content {
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #ddd;
    width: calc(100% - 250px);
    min-height: calc(100vh - 100px);
    height: auto;
}

#accordionWindow {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 300px;
    cursor: pointer;
} 

#accordionWindow button.btn-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

